<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml"
  xmlns:o="urn:schemas-microsoft-com:office:office">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
  <meta content="telephone=no" name="format-detection">
  <link rel="preconnect" href="https://fonts.gstatic.com">
</head>

<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">

  <table align="center" border="0" cellpadding="0" cellspacing="0" style="min-width: 600px;">

    <tr>
      <td width="600" height="auto" align="center" valign="top" bgcolor="#fff">
        <!-- Header -->
        <table>
          <tr>
            <td width="600">
              <img src="https://{{AWS_BUCKET_NAME}}.s3.amazonaws.com/emails/header.jpg" width="600" height="auto"
                alt="" border="0" style="display: block; outline: none;" />
            </td>
          </tr>
        </table>
        <!-- /Header -->

        <!-- Content -->
        <table width="600">
          <tr>
            <td align="middle">
              <table width="520">
                <tr>
                  <td>
                    <h3 style="
                    font-size: 32px;
                    line-height: 32px;
                    font-family: Trebuchet MS, arial, helvetica, sans-serif !important;
                    color: #005085;
                    font-weight: 700;
                    text-align: left;
                    margin-top: 64px;
                    margin-bottom: 32px;
                    ">
                      Sua senha foi redefinida
                    </h3>

                    <p style="
                    font-size: 16px;
                    line-height: 24px;
                    font-family: Trebuchet MS, arial, helvetica, sans-serif !important;
                    color: #000;
                    font-weight: 400;
                    text-align: left;
                    margin-top: 0px;
                    margin-bottom: 32px;
                    ">
                      Pronto, sua senha foi redefinida e você já pode acessar sua conta na promoção <strong>Tribo Trip
                        0.0</strong>.
                    </p>



                    <a href="https://tribotrip00.heineken.com.br/login" target="_blank" style="
                    display: block;
                    font-size: 13px;
                    line-height: 20px;
                    font-family: Trebuchet MS, arial, helvetica, sans-serif !important;
                    color: #FFF;
                    background-color: #005085;
                    font-weight: 700;
                    text-align: center;
                    margin-top: 0px;
                    margin-bottom: 64px;
                    padding: 16px 0px;
                    text-decoration: none;
                    ">
                      <img src="https://{{AWS_BUCKET_NAME}}.s3.amazonaws.com/emails/icon-user.png" width="13"
                        height="13" alt="" border="0" style="outline:none; display:inline-block;margin-right: 8px">

                      <strong>Fazer login</strong>
                    </a>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>

        <!-- /Content -->

        <!-- Footer -->
        <table width="600">
          <tr>
            <td align="middle" style='background-color: #005085'>
              <table width="520" height="95">
                <tr>
                  <td align="left" valign="middle">
                    <a href="https://www.facebook.com/heinekenbrasil" target="_blank"
                      style="border:none;outline:none;display:inline-block;margin-right:28px">
                      <img src="https://{{AWS_BUCKET_NAME}}.s3.amazonaws.com/emails/icon-facebook.png" width="20"
                        height="20" alt="" border="0" style="display:block;outline:none;">
                    </a>

                    <a href="https://www.instagram.com/heineken/" target="_blank"
                      style="border:none;outline:none;display:inline-block;margin-right:28px">
                      <img src="https://{{AWS_BUCKET_NAME}}.s3.amazonaws.com/emails/icon-instagram.png" width="20"
                        height="20" alt="" border="0" style="display:block;outline:none;">
                    </a>

                    <a href="https://twitter.com/heineken" target="_blank"
                      style="border:none;outline:none;display:inline-block;margin-right:28px">
                      <img src="https://{{AWS_BUCKET_NAME}}.s3.amazonaws.com/emails/icon-twitter.png" width="20.92"
                        height="17" alt="" border="0" style="display:block;outline:none;">
                    </a>

                    <a href="https://www.youtube.com/user/heineken" target="_blank"
                      style="border:none;outline:none;display:inline-block">
                      <img src="https://{{AWS_BUCKET_NAME}}.s3.amazonaws.com/emails/icon-youtube.png" width="20"
                        height="14" alt="" border="0" style="display:block;outline:none;">
                    </a>
                  </td>

                  <td align="right">
                    <img src="https://{{AWS_BUCKET_NAME}}.s3.amazonaws.com/emails/icon-enjoy.png" width="29.72"
                      height="30.07" alt="" border="0" style="display:block;outline:none;">
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr align="middle" bgcolor="#fff">
            <td align="middle">
              <img src="https://{{AWS_BUCKET_NAME}}.s3.amazonaws.com/emails/copyright.png" width="600" height="auto"
                alt="" border="0" style="display: inline; outline: none" />
            </td>
          </tr>
        </table>
        <!-- /Footer -->
      </td>
    </tr>
  </table>
</body>

</html>
